<H1> Welcome to the question page! </H1>

<form action="/answer" data-turbo="false">
  <label> "Ask a question" </label>
  <input type="text" name="ask_question">
  <input type="submit" value="Ask!">
</form>